html {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0 auto;
    width: 752px;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-color: rgba(45, 112, 83, 1);
    height: 237px;
    position: relative;
}

.circle1 {
    width: 144px;
    height: 144px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 37px;
    top: 46px;
}

.title {
    width: 134px;
    height: 131px;
    top: 53px;
    left: 238px;
    font-size: 30px;
    text-align: left;
    color: white;
    position: absolute;
}

.line1 {
    width: 87px;
    height: 15px;
    border-radius: 7px;
    background-color: white;
    position: absolute;
    top: 83px;
    left: 621px;
}

.line2 {
    width: 87px;
    height: 15px;
    border-radius: 7px;
    background-color: white;
    position: absolute;
    top: 111px;
    left: 621px;
}

.line3 {
    width: 87px;
    height: 15px;
    border-radius: 7px;
    background-color: white;
    position: absolute;
    top: 139px;
    left: 621px;
}

.room {
    background-image: url(../img/room.png);
    height: 466px;
    position: relative;
}

.fon {
    background-color: black;
    opacity: 0.3;
    width: 743px;
    height: 444px;
    position: absolute;
    left: 9px;
}

.button1 {
    width: 344px;
    height: 77px;
    background-color: #CB9223;
    line-height: 3.1;
    font-size: 23px;
    text-align: center;
    color: white;
    position: absolute;
    left: 204px;
    bottom: 47px;
}

.a {
    color: white;
    text-decoration: none;
}

.woman {
    width: 255px;
    height: 255px;
    background-image: url(./Photo.png);
    border-radius: 50%;
    margin-top: 79;
    margin-left: 35;
    position: relative;
}

.name {
    width: 210px;
    height: 27px;
    position: absolute;
    top: 76px;
    left: 366px;
    font-size: 30px;
}

.terapevt {
    width: 245px;
    height: 50px;
    position: absolute;
    top: 132px;
    left: 364px;
    font-size: 24px;
}

.text {
    width: 590px;
    height: 166px;
    margin-top: 60px;
    margin-left: 44px;
    font-size: 22px;
    white-space: pre-line;
}

.head {
    width: 545px;
    height: 32px;
    margin-top: 46px;
    margin-left: 44px;
    font-size: 34px;
}

.list {
    width: 256px;
    height: 190px;
    margin-top: 43px;
    margin-left: 44px;
    font-size: 22px;
}

ul {
    padding-left: 0px;
    margin-top: 0px;
    list-style-type: none;
}

.button2 {
    width: 344px;
    height: 77px;
    background-color: rgba(203, 146, 35, 1);
    line-height: 3.1;
    font-size: 23px;
    text-align: center;
    color: white;
    margin-top: 42px;
    margin-left: 218px;
    margin-bottom: 47px;
   
}

.foother {
    background-color: rgba(136, 136, 136, 1);
    height: 156px;
    width: 752px;
    position: relative;
}

.circle2 {
    width: 99px;
    height: 99px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    position: absolute;
    left: 44px;
    top: 29px;
}

address {
    font-style: normal;
}

.adress {
    width: 199px;
    height: 17px;
    position: absolute;
    left: 326px;
    top: 104px;
    color: white;
    font-size: 18;
    text-align: center;
}

.tel {
    width: 136px;
    height: 15px;
    position: absolute;
    left: 571px;
    top: 58px;
    color: white;
    font-size: 14px;
    text-align: right;
}

.e-mail {
    width: 144px;
    height: 17px;
    position: absolute;
    left: 563px;
    top: 100px;
    color: white;
    font-size: 18px;
    text-align: right;
}